<%- include("_header"); %>

<!-- Dashboard Right -->
<div class="dashboard__right">
  <!-- Dashboard Body-->
  <div class="dashboard-body">
      <div class="row justify-content-center">
       <% if(userDeposits.length !== 0){ %>
            <div class="col-12">
                <div class="dashboard-accordion-table mt-5">
                    <div class="accordion table--acordion" id="transactionAccordion">
                     <% 
                     userDeposits.forEach((deposit, index)=>{
                      const formatter = new Intl.NumberFormat('en-NG', {
                          style: 'currency',
                          currency: 'NGN'
                        });
                       const depositAmount = formatter.format(deposit.amount);
  
                       const isoDate = deposit.createdAt;
                       const date = new Date(isoDate);
                       const DepositDate = date.toLocaleString();
                       %>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="h-<%= index %>">
                              <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#c-<%= index %>" type="button" aria-expanded="false" aria-controls="c-<%= index %>">
                                  <div class="col-xl-4 col-sm-5 col-8 order-1">
                                      <div class="left">
                                          <div class="icon dark">
                                              <i class="las la-exchange-alt"></i>
                                          </div>
                                          <div class="content">
                                              <h6 class="title mb-0">Paystack</h6>
                                              <span class="date-time"><%= DepositDate %></span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-xl-4 col-sm-4 col-12 order-sm-2 order-3 transaction-wrapper">
                                      <p class="transaction-id"><%= deposit.reference %></p>
                                  </div>
                                  <div class="col-xl-4 col-sm-3 col-4 order-sm-3 order-2 text-end amount-wrapper">
                                      <p class="amount"><%= depositAmount %></p>
                                  </div>
                              </button>
                          </h2>
                          <div class="accordion-collapse collapse" id="c-<%= index %>" data-bs-parent="#transactionAccordion" aria-labelledby="h-0">
                              <div class="accordion-body">
                                  <ul class="caption-list">
                                      <li class="caption-list__item">
                                          <span class="caption">Status</span>
                                          <span class="value"><span class="badge badge--dark"><%= deposit.status %></span></span>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <% }) %>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center my-4 next-button">
              <% if (currentPage > 1) { %>
                <a href="/user/deposit/history?page=<%= currentPage - 1 %>" class="btn bg-purple-like"><< Previous</a>
              <% } else { %>
                <a href="#" class="btn bg-purple-like disabled" aria-disabled="true"><< Previous</a>
              <% } %>
            
              <div class="page-numbers">
                Page <%= currentPage %> of <%= totalPages %>
              </div>
            
              <% if (currentPage < totalPages) { %>
                <a href="/user/deposit/history?page=<%= currentPage + 1 %>" class="btn bg-purple-like">Next >></a>
              <% } else { %>
                <a href="#" class="btn bg-purple-like disabled" aria-disabled="true">Next >></a>
              <% } %>
            </div>
        <% } else{ %>
            <div class="col-12">
                <span class="empty-slip-message">
                    <span class="d-flex justify-content-center align-items-center">
                        <img src="/images/empty_list.png" alt="empty image">
                    </span>
                    No deposit yet!
                </span>
            </div>
        <% } %>
      </div>
  </div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>

<%- include("_footer"); %>